Jarvis___Doppus_v2
{
  "name": "Jarvis - Doppus v2",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Code here will run only once, no matter how many input items there are.\n// More info and help: https://docs.n8n.io/nodes/n8n-nodes-base.function\nvar replacevendaprincipal = $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"transaction\"][\"sale_value\"].toString();\n// Loop over inputs and add a new field called 'myNewField' to the JSON of each one\nfor (item of items) {\n  item.json.replacevendaprincipal = replacevendaprincipal.replace (/\\./g, ',');\n}\n\n// You can write logs to the browser console\nconsole.log('Done!');\nreturn items;"
      },
      "id": "9f86bf78-632f-42ef-b493-904161dfae05",
      "name": "Formatando Valor da Venda Principal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        40
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ylg4DE9YlKY4qCoLj63b_V44ePHQ7FQSCSQUz27c1B4",
          "mode": "list",
          "cachedResultName": "Jarvis - Prod/ROI - Moara Digital",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ylg4DE9YlKY4qCoLj63b_V44ePHQ7FQSCSQUz27c1B4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1671810911,
          "mode": "list",
          "cachedResultName": "Vendas Gerais",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ylg4DE9YlKY4qCoLj63b_V44ePHQ7FQSCSQUz27c1B4/edit#gid=1671810911"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data da Compra": "={{ $('Formata Data').item.json.formattedDate }}",
            "Hora Da Compra": "={{ $('Formata Hora').item.json.formattedTime }}",
            "Status": "=Pago",
            "Forma de Pagamento": "={{ $('Webhook').item.json.body.payment.payment_type }}",
            "Produto": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"items\"][\"0\"][\"name\"] }}",
            "Código do Produto": "={{ $('Webhook').item.json.body.items[0].code }}",
            "Código da Transação": "={{ $('Webhook').item.json.body.transaction_code }}",
            "Nome do Comprador": "={{ $('Webhook').item.json.body.customer.name }}",
            "E-mail": "={{ $('Webhook').item.json.body.customer.email }}",
            "Celular": "={{ $('Webhook').item.json.body.customer.phone }}",
            "Valor da Venda": "={{ $json.replacevendaprincipal }}",
            "Comissão": "={{ $json.replacetotalcomission }}",
            "Comissão Plataforma": "={{ $json.replacedoppusfee }}",
            "País": "Brasil",
            "Gateway": "Doppus",
            "UTM Source": "={{ $('Webhook').item.json.body.tracking.utm_source }}",
            "UTM Medium": "={{ $('Webhook').item.json.body.tracking.utm_medium }}",
            "UTM Campaign": "={{ $('Webhook').item.json.body.tracking.utm_campaign }}",
            "UTM Term": "={{ $('Webhook').item.json.body.tracking.utm_term }}",
            "UTM Content": "={{ $('Webhook').item.json.body.tracking.utm_content }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Data da Compra",
              "displayName": "Data da Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hora Da Compra",
              "displayName": "Hora Da Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Forma de Pagamento",
              "displayName": "Forma de Pagamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Produto",
              "displayName": "Produto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Código do Produto",
              "displayName": "Código do Produto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Código da Transação",
              "displayName": "Código da Transação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome do Comprador",
              "displayName": "Nome do Comprador",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E-mail",
              "displayName": "E-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Celular",
              "displayName": "Celular",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Valor da Venda",
              "displayName": "Valor da Venda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Comissão",
              "displayName": "Comissão",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Comissão Plataforma",
              "displayName": "Comissão Plataforma",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "src",
              "displayName": "src",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sck",
              "displayName": "sck",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "UTM Source",
              "displayName": "UTM Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "UTM Medium",
              "displayName": "UTM Medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "UTM Campaign",
              "displayName": "UTM Campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "UTM Term",
              "displayName": "UTM Term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "UTM Content",
              "displayName": "UTM Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "País",
              "displayName": "País",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Gateway",
              "displayName": "Gateway",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "d6594ef8-1315-4d5c-b390-b8ffa31c22b0",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1920,
        240
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wINaFsVmrLsfZvXc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"last_status_date\"] }}",
        "format": "custom",
        "customFormat": "TT",
        "outputFieldName": "formattedTime",
        "options": {}
      },
      "id": "93c5f83a-6620-41da-a461-cbbc2c2f6a7b",
      "name": "Formata Hora",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        620,
        40
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Webhook').item.json.body.items[1].name }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "d2bb0c74-4345-42b3-882d-0cf64546c87d",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2120,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "// Code here will run only once, no matter how many input items there are.\n// More info and help: https://docs.n8n.io/nodes/n8n-nodes-base.function\nvar replaceob = $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"items\"][\"1\"][\"item_value\"].toString();\n// Loop over inputs and add a new field called 'myNewField' to the JSON of each one\nfor (item of items) {\n  item.json.replaceob = replaceob.replace(/\\./g, ',');\n}\n\n// You can write logs to the browser console\nconsole.log('Done!');\nreturn items;"
      },
      "id": "00eacf4a-9f94-48ed-8cb4-c31c7f4e101f",
      "name": "Formatando Valor Orderbump1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        80
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ylg4DE9YlKY4qCoLj63b_V44ePHQ7FQSCSQUz27c1B4",
          "mode": "list",
          "cachedResultName": "Jarvis - Prod/ROI - Moara Digital",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ylg4DE9YlKY4qCoLj63b_V44ePHQ7FQSCSQUz27c1B4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1671810911,
          "mode": "list",
          "cachedResultName": "Vendas Gerais",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ylg4DE9YlKY4qCoLj63b_V44ePHQ7FQSCSQUz27c1B4/edit#gid=1671810911"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data da Compra": "={{ $('Formata Data').item.json.formattedDate }}",
            "Hora Da Compra": "={{ $('Webhook').item.json.body.last_status_date }}",
            "Status": "=Pago OB",
            "Forma de Pagamento": "={{ $('Webhook').item.json.body.payment.payment_type }}",
            "Produto": "={{ $('Webhook').item.json.body.items[1].name }}",
            "Código do Produto": "={{ $('Webhook').item.json.body.items[1].code }}",
            "Código da Transação": "={{ $('Webhook').item.json.body.transaction_code }}",
            "Nome do Comprador": "={{ $('Webhook').item.json.body.customer.name }}",
            "E-mail": "={{ $('Webhook').item.json.body.customer.email }}",
            "Celular": "={{ $('Webhook').item.json.body.customer.phone }}",
            "Valor da Venda": "={{ $json.Replaced }}",
            "Comissão": "=",
            "Comissão Plataforma": "=",
            "País": "Brasil",
            "Gateway": "Doppus",
            "UTM Source": "=",
            "UTM Medium": "=",
            "UTM Campaign": "=",
            "UTM Term": "=",
            "UTM Content": "="
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Data da Compra",
              "displayName": "Data da Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hora Da Compra",
              "displayName": "Hora Da Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Forma de Pagamento",
              "displayName": "Forma de Pagamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Produto",
              "displayName": "Produto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Código do Produto",
              "displayName": "Código do Produto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Código da Transação",
              "displayName": "Código da Transação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome do Comprador",
              "displayName": "Nome do Comprador",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E-mail",
              "displayName": "E-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Celular",
              "displayName": "Celular",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Valor da Venda",
              "displayName": "Valor da Venda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Comissão",
              "displayName": "Comissão",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Comissão Plataforma",
              "displayName": "Comissão Plataforma",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "src",
              "displayName": "src",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sck",
              "displayName": "sck",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "UTM Source",
              "displayName": "UTM Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "UTM Medium",
              "displayName": "UTM Medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "UTM Campaign",
              "displayName": "UTM Campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "UTM Term",
              "displayName": "UTM Term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "UTM Content",
              "displayName": "UTM Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "País",
              "displayName": "País",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Gateway",
              "displayName": "Gateway",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "8276c018-ca92-4137-bc3c-a44416f41cf6",
      "name": "Entrada Order Bump",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2520,
        80
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wINaFsVmrLsfZvXc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ylg4DE9YlKY4qCoLj63b_V44ePHQ7FQSCSQUz27c1B4",
          "mode": "list",
          "cachedResultName": "Jarvis - Prod/ROI - Moara Digital",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ylg4DE9YlKY4qCoLj63b_V44ePHQ7FQSCSQUz27c1B4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1671810911,
          "mode": "list",
          "cachedResultName": "Vendas Gerais",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ylg4DE9YlKY4qCoLj63b_V44ePHQ7FQSCSQUz27c1B4/edit#gid=1671810911"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Hora Da Compra": "={{ $('Formata Hora1').item.json.formattedTime1 }}",
            "Status": "=Reembolso",
            "Forma de Pagamento": "={{ $('Webhook').item.json.body.payment.payment_type }}",
            "Produto": "={{ $('Webhook').item.json.body.items[0].name }}",
            "Código do Produto": "={{ $('Webhook').item.json.body.items[0].code }}",
            "Código da Transação": "={{ $('Webhook').item.json.body.transaction_code }}",
            "Nome do Comprador": "={{ $('Webhook').item.json.body.customer.name }}",
            "E-mail": "={{ $('Webhook').item.json.body.customer.email }}",
            "Celular": "={{ $('Webhook').item.json.body.customer.phone }}",
            "Valor da Venda": "={{ $json.Replaced }}",
            "Comissão": "=",
            "Comissão Plataforma": "=",
            "País": "Brasil",
            "Gateway": "Doppus",
            "Data da Compra": "={{ $('Formata Data1').item.json.formattedDate1 }}",
            "UTM Source": "={{ $('Webhook').item.json.body.tracking.utm_source }}",
            "UTM Medium": "={{ $('Webhook').item.json.body.tracking.utm_medium }}",
            "UTM Campaign": "={{ $('Webhook').item.json.body.tracking.utm_campaign }}",
            "UTM Term": "={{ $('Webhook').item.json.body.tracking.utm_term }}",
            "UTM Content": "={{ $('Webhook').item.json.body.tracking.utm_content }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Data da Compra",
              "displayName": "Data da Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hora Da Compra",
              "displayName": "Hora Da Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Forma de Pagamento",
              "displayName": "Forma de Pagamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Produto",
              "displayName": "Produto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Código do Produto",
              "displayName": "Código do Produto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Código da Transação",
              "displayName": "Código da Transação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome do Comprador",
              "displayName": "Nome do Comprador",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E-mail",
              "displayName": "E-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Celular",
              "displayName": "Celular",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Valor da Venda",
              "displayName": "Valor da Venda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Comissão",
              "displayName": "Comissão",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Comissão Plataforma",
              "displayName": "Comissão Plataforma",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "src",
              "displayName": "src",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sck",
              "displayName": "sck",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "UTM Source",
              "displayName": "UTM Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "UTM Medium",
              "displayName": "UTM Medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "UTM Campaign",
              "displayName": "UTM Campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "UTM Term",
              "displayName": "UTM Term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "UTM Content",
              "displayName": "UTM Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "País",
              "displayName": "País",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Gateway",
              "displayName": "Gateway",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "c63027a5-e398-494c-bca1-a75ee1726e82",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1920,
        460
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wINaFsVmrLsfZvXc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.body.last_status_date }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy",
        "options": {}
      },
      "id": "6f67bb0c-dd13-4f25-8e38-8dc6530a93d0",
      "name": "Formata Data",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        420,
        40
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "8bcdec20-241a-408a-8fe7-a3d0a86057c1",
        "options": {}
      },
      "id": "a74a4627-4272-41bd-a7c8-dcf056fc04f2",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        240
      ],
      "webhookId": "dbc0d868-24df-45a8-a598-9a77ffe5171f",
      "continueOnFail": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ylg4DE9YlKY4qCoLj63b_V44ePHQ7FQSCSQUz27c1B4",
          "mode": "list",
          "cachedResultName": "Jarvis - Prod/ROI - Moara Digital",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ylg4DE9YlKY4qCoLj63b_V44ePHQ7FQSCSQUz27c1B4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1493114173,
          "mode": "list",
          "cachedResultName": "Recuperação",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ylg4DE9YlKY4qCoLj63b_V44ePHQ7FQSCSQUz27c1B4/edit#gid=1493114173"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "E-mail",
              "lookupValue": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"customer\"][\"email\"] }}"
            }
          ]
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "detectAutomatically",
              "readRowsUntil": "firstEmptyRow"
            }
          }
        }
      },
      "id": "5d26e244-38d1-48ae-b8eb-814fdd61fd68",
      "name": "Verifica se ja existe",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [
        1920,
        700
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wINaFsVmrLsfZvXc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ylg4DE9YlKY4qCoLj63b_V44ePHQ7FQSCSQUz27c1B4",
          "mode": "list",
          "cachedResultName": "Jarvis - Prod/ROI - Moara Digital",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ylg4DE9YlKY4qCoLj63b_V44ePHQ7FQSCSQUz27c1B4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1493114173,
          "mode": "list",
          "cachedResultName": "Recuperação",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ylg4DE9YlKY4qCoLj63b_V44ePHQ7FQSCSQUz27c1B4/edit#gid=1493114173"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data da Compra": "={{ $item(\"0\").$node[\"Formata Data\"].json[\"formattedDate\"] }}",
            "Hora Da Compra": "={{ $('Formata Hora').item.json.formattedTime }}",
            "Status": "=Pago",
            "Forma de Pagamento": "={{ $('Webhook').item.json.body.payment.payment_type }}",
            "Produto": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"items\"][\"0\"][\"name\"] }}",
            "Código do Produto": "={{ $('Webhook').item.json.body.items[0].code }}",
            "Código da Transação": "={{ $('Webhook').item.json.body.transaction_code }}",
            "Nome do Comprador": "={{ $('Webhook').item.json.body.customer.name }}",
            "E-mail": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"customer\"][\"email\"] }}",
            "Celular": "={{ $('Webhook').item.json.body.customer.phone }}",
            "Valor da Venda": "={{ $json.replacevendaprincipal }}",
            "Comissão": "={{ $json.replacetotalcomission }}",
            "Comissão Plataforma": "={{ $json.replacedoppusfee }}",
            "País": "Brasil",
            "Gateway": "Doppus",
            "UTM Source": "={{ $('Webhook').item.json.body.tracking.utm_source }}",
            "UTM Medium": "={{ $('Webhook').item.json.body.tracking.utm_medium }}",
            "UTM Campaign": "={{ $('Webhook').item.json.body.tracking.utm_campaign }}",
            "UTM Term": "={{ $('Webhook').item.json.body.tracking.utm_term }}",
            "UTM Content": "={{ $('Webhook').item.json.body.tracking.utm_content }}",
            "Nome Completo": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"customer\"][\"name\"] }}",
            "Telefone": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"customer\"][\"phone\"] }}",
            "Meio de Pagamento": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"payment\"][\"payment_type\"] }}",
            "Código da transação": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"transaction_code\"] }}",
            "Valor": "={{ $item(\"0\").$node[\"Formatando Valor da Venda Principal\"].json[\"replacevendaprincipal\"] }}",
            "Motivo": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"status_log\"][\"0\"][\"message\"] }}",
            "Hora da Compra": "={{ $item(\"0\").$node[\"Formata Hora\"].json[\"formattedTime\"] }}",
            "QRCODE": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"payment\"][\"qrcode\"] }}",
            "Pix Copia e Cola": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"payment\"][\"brcode\"] }}",
            "Checkout URL": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"links\"][\"url_reprocess\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Data da Compra",
              "displayName": "Data da Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hora da Compra",
              "displayName": "Hora da Compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nome Completo",
              "displayName": "Nome Completo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Primeiro Nome",
              "displayName": "Primeiro Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Último Nome",
              "displayName": "Último Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E-mail",
              "displayName": "E-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "País",
              "displayName": "País",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Meio de Pagamento",
              "displayName": "Meio de Pagamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Motivo",
              "displayName": "Motivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Recuperação",
              "displayName": "Recuperação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Produto",
              "displayName": "Produto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Código da transação",
              "displayName": "Código da transação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Valor",
              "displayName": "Valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "QRCODE",
              "displayName": "QRCODE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pix Copia e Cola",
              "displayName": "Pix Copia e Cola",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Checkout URL",
              "displayName": "Checkout URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "f11a6b7e-a13a-4744-9718-68adb7874594",
      "name": "Preenche Planilha Recuperacao",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2380,
        640
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wINaFsVmrLsfZvXc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"status\"] }}",
        "rules": {
          "rules": [
            {
              "value2": "APPROVED"
            },
            {
              "value2": "REVERSED",
              "output": 1
            },
            {
              "value2": "WAITING",
              "output": 2
            },
            {
              "value2": "NOT_COMPLETED",
              "output": 2
            },
            {
              "value2": "EXIT_CHECKOUT",
              "output": 2
            }
          ]
        }
      },
      "id": "3614fc66-6a3f-4a46-8e55-8cbc563ffc36",
      "name": "Router Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1440,
        240
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ylg4DE9YlKY4qCoLj63b_V44ePHQ7FQSCSQUz27c1B4",
          "mode": "list",
          "cachedResultName": "Jarvis - Prod/ROI - Moara Digital",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ylg4DE9YlKY4qCoLj63b_V44ePHQ7FQSCSQUz27c1B4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1493114173,
          "mode": "list",
          "cachedResultName": "Recuperação",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ylg4DE9YlKY4qCoLj63b_V44ePHQ7FQSCSQUz27c1B4/edit#gid=1493114173"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "E-mail",
              "lookupValue": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"customer\"][\"email\"] }}"
            }
          ]
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "detectAutomatically",
              "readRowsUntil": "firstEmptyRow"
            }
          }
        }
      },
      "id": "35303010-c36e-452f-b123-88be4356a3b9",
      "name": "Verifica Recuperacao",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [
        2720,
        80
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wINaFsVmrLsfZvXc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $item(\"0\").$node[\"Verifica se ja existe\"].json[\"row_number\"] }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "d7cd3cca-d6e8-4474-a24c-208b54d54e8a",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2100,
        680
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.row_number }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "f1ebae00-2c68-486a-a410-e2eeb5645fdb",
      "name": "IF2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2920,
        80
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1ylg4DE9YlKY4qCoLj63b_V44ePHQ7FQSCSQUz27c1B4",
          "mode": "list",
          "cachedResultName": "Jarvis - Prod/ROI - Moara Digital",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ylg4DE9YlKY4qCoLj63b_V44ePHQ7FQSCSQUz27c1B4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1493114173,
          "mode": "list",
          "cachedResultName": "Recuperação",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ylg4DE9YlKY4qCoLj63b_V44ePHQ7FQSCSQUz27c1B4/edit#gid=1493114173"
        },
        "startIndex": "={{ $json.row_number }}"
      },
      "id": "0b366df2-44fc-4c72-9b99-ad851f662de9",
      "name": "Deleta Recuperacao",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [
        3180,
        200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wINaFsVmrLsfZvXc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Code here will run only once, no matter how many input items there are.\n// More info and help: https://docs.n8n.io/nodes/n8n-nodes-base.function\nvar replacetotalcomission = $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"transaction\"][\"producer_fee\"].toString();\n// Loop over inputs and add a new field called 'myNewField' to the JSON of each one\nfor (item of items) {\n  item.json.replacetotalcomission = replacetotalcomission.replace(/\\./g, ',');\n}\n\n// You can write logs to the browser console\nconsole.log('Done!');\nreturn items;"
      },
      "id": "cdb1d625-5c7a-45f7-8742-2f47f1fccfb9",
      "name": "Formata Valor Comissão Total",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        40
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Code here will run only once, no matter how many input items there are.\n// More info and help: https://docs.n8n.io/nodes/n8n-nodes-base.function\nvar replacedoppusfee = $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"transaction\"][\"doppus_fee\"].toString();\n// Loop over inputs and add a new field called 'myNewField' to the JSON of each one\nfor (item of items) {\n  item.json.replacedoppusfee = replacedoppusfee.replace(/\\./g, ',');\n}\n\n// You can write logs to the browser console\nconsole.log('Done!');\nreturn items;"
      },
      "id": "83ae7408-01c7-4e54-8ade-f03011950220",
      "name": "Formata Valor Comissão Doppus",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1240,
        40
      ],
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.moara.digital",
            "content-length": "1776",
            "accept": "application/json",
            "cache-control": "no-cache",
            "content-type": "application/json; charset=utf-8",
            "doppus-token": "b8d16baf6e194ab4612706101fcf7929",
            "doppus-version": "3.0",
            "expect": "100-continue",
            "x-forwarded-for": "15.228.189.17",
            "x-forwarded-host": "n8n.moara.digital",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "539b101d049a",
            "x-real-ip": "15.228.189.17",
            "x-user-agent": "Doppus",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "transaction_code": "31401335",
            "registration_date": "2023-11-28 12:49:45",
            "customer": {
              "name": "Carlos Eduardo de Medeiros Gonçalves Teixeira",
              "email": "cadu.gonca@hotmail.com",
              "phone": "(53) 99701-3698",
              "doc_type": "CPF",
              "doc": "054.769.660-48",
              "state_doc": "ISENTO"
            },
            "transaction": {
              "sale_value": 76.9,
              "total_value": 76.9,
              "transaction_fee": 1,
              "doppus_fee": 3.07,
              "producer_fee": 72.83
            },
            "payment": {
              "payment_type": "PIX",
              "plots": 1,
              "value": 76.9
            },
            "items": [
              {
                "code": "67166",
                "name": "Introdução ao Casqueamento & Ferrageamento",
                "description": "Introdução ao Casqueamento & Ferrageamento",
                "sales_plan_code": "72355",
                "sales_plan_name": "Plano base",
                "image": "secure.ferrageamento.com.br/image/product/77087154/60715/1684172012641_291342/png",
                "type": "INFOPRODUCT",
                "amount": 1,
                "item_value": 67,
                "sale_value": 67
              },
              {
                "code": "65401",
                "name": "Acesso vitalício ao Curso Introdução ao Casqueamento & Ferrageamento",
                "description": "Acesso vitalício ao Curso Introdução ao Casqueamento & Ferrageamento",
                "sales_plan_code": "42948",
                "sales_plan_name": "Plano base",
                "image": "secure.ferrageamento.com.br/image/product/77087154/55032/1677449618006_900236/png",
                "type": "ORDERBUMP",
                "amount": 1,
                "item_value": 9.9,
                "sale_value": 9.9
              }
            ],
            "tracking": {
              "ip_address": "138.118.136.36",
              "utm_source": "fb",
              "utm_medium": "paid",
              "utm_campaign": "CP026 TC AD7 CBO - Advantage+ shopping Campaign",
              "utm_term": "Advantage+ shopping Ad set 1",
              "utm_content": "AD 7 - Mapeamento 1"
            },
            "last_status_date": "2023-11-28 12:51:48",
            "status": "APPROVED",
            "status_log": [
              {
                "registration_date": "2023-11-28 12:49:46",
                "status": "WAITING",
                "message": "QRCode para pagamento do PIX gerado com sucesso."
              },
              {
                "registration_date": "2023-11-28 12:51:48",
                "status": "APPROVED",
                "message": "Pronto, seu pagamento foi aprovado!"
              }
            ]
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Formatando Valor da Venda Principal": {
      "main": [
        [
          {
            "node": "Formata Valor Comissão Total",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Hora": {
      "main": [
        [
          {
            "node": "Formatando Valor da Venda Principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Formatando Valor Orderbump1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verifica Recuperacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatando Valor Orderbump1": {
      "main": [
        [
          {
            "node": "Entrada Order Bump",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Data": {
      "main": [
        [
          {
            "node": "Formata Hora",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Formata Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se ja existe": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router Type": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verifica se ja existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Preenche Planilha Recuperacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Entrada Order Bump": {
      "main": [
        [
          {
            "node": "Verifica Recuperacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica Recuperacao": {
      "main": [
        [
          {
            "node": "IF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF2": {
      "main": [
        [],
        [
          {
            "node": "Deleta Recuperacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Valor Comissão Total": {
      "main": [
        [
          {
            "node": "Formata Valor Comissão Doppus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Valor Comissão Doppus": {
      "main": [
        [
          {
            "node": "Router Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "33317070-f198-4fce-b447-934228d12bbf",
  "id": "W9hpJSjuLgsPCxJP",
  "meta": {
    "instanceId": "7b1a2a66d3e90bfc7aa42d96e295fd40153b4d58451fc70a7bd5753ac50f78e2"
  },
  "tags": []
}
